/Binaries
/Content
/DerivedDataCache
/Intermediate
/Saved
UpgradeLog.htm
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CryptRaider/FileContentIndex/4c25e06a-8fea-4667-b1ef-4d9909ff6224.vsidx
.vs/CryptRaider/FileContentIndex/4d5b6b0d-ab75-46ef-9c76-3c7221228128.vsidx
.vs/CryptRaider/FileContentIndex/7c38e8e9-3c1f-4c55-80b3-b58027650b7a.vsidx
.vs/CryptRaider/FileContentIndex/030d804e-2dbe-4956-972f-f5f7eff9828a.vsidx
.vs/CryptRaider/FileContentIndex/041aa00f-faa1-4ced-8e1e-35b54f057328.vsidx
.vs/CryptRaider/FileContentIndex/64bc7c32-9cfc-4504-8ef3-20a7c5da1847.vsidx
.vs/CryptRaider/FileContentIndex/87bbab50-f640-40bb-87be-21feb8971215.vsidx
.vs/CryptRaider/FileContentIndex/994c9602-2e1f-4b50-ad80-d1df3f317b00.vsidx
.vs/CryptRaider/FileContentIndex/4975cb7f-28d6-4435-878c-c18e189226d5.vsidx
.vs/CryptRaider/FileContentIndex/87609cd7-be31-415e-85b6-45514cfb7a9d.vsidx
.vs/CryptRaider/FileContentIndex/95584e32-c7f4-42ae-80ba-038a5a338b55.vsidx
.vs/CryptRaider/FileContentIndex/a418caa0-7344-4af4-aaac-850fd2de9fd7.vsidx
.vs/CryptRaider/FileContentIndex/e3ff1e8f-1c78-424c-80f1-0cd45ce02b58.vsidx
.vs/CryptRaider/FileContentIndex/e9e83629-a472-41fb-abaa-ef72a533eccf.vsidx
.vs/CryptRaider/FileContentIndex/eb82c545-e346-40e1-a1b1-11fb3d17613f.vsidx
.vs/CryptRaider/FileContentIndex/fedee70f-408a-4133-b829-3cea74c2a9a1.vsidx
.vs/CryptRaider/FileContentIndex/read.lock
.vs/CryptRaider/v17/.futdcache.v2
.vs/CryptRaider/v17/.suo
.vs/CryptRaider/v17/.wsuo
.vs/CryptRaider/v17/Browse.VC.db
.vs/CryptRaider/v17/fileList.bin
.vs/CryptRaider/v17/Solution.VC.db
.vs/ProjectEvaluation/cryptraider.metadata.v7.bin
.vs/ProjectEvaluation/cryptraider.projects.v7.bin
.vscode/compileCommands_CryptRaider.json
.vscode/compileCommands_Default.json
.vscode/compileCommands_CryptRaider/CryptRaider.1.rsp
.vscode/compileCommands_CryptRaider/S3Client.566.rsp
.vscode/compileCommands_Default/CryptRaider.1.rsp
.vscode/compileCommands_Default/S3Client.566.rsp
